@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { @apply font-roboto text-dl-txtone; }    
}

.img-background {
    background-image: url(../../public/images/home.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.custom-arrow {
    color: white !important;
    background: rgba(255, 0, 90, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 5555px;
}

.custom-arrow::after {
    font-size: 20px !important;
    font-weight: bold;
}
.swiper-pagination {
    position: relative !important;
    margin-top: 35px; }

.swiper-pagination-bullet {
    background: #ff2d75;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}
